<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>GIF search</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/stylesheet.css">

  </head>

  <body>

    <div class="container m-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form class="m-4" action="/gifs" method="GET">
                    <input class="form-control" name="search" type="search" placeholder="Search for gifs" aria-label="Search">
                </form>
            </div>
            <div class="col-3"></div>
            
        </div>
    
                
    {% block content %}
    {% endblock %}
          
    </div>

    


    <script>
        var tags = ["about","above","across","app","apple","appreciate","bad","ball","balloon","bell","cat"];

        // Autocomplete from http://api.jqueryui.com/autocomplete/
        $( "#autocomplete" ).autocomplete({
            source: function( request, response ) {
                var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
                response( $.grep( tags, function( item ){
                    return matcher.test( item );
                }) );
            }
        });
    </script>

    </body>
</html>